
GDS212_Brief1/Intermediate/CachedAssetRegistry.bin

GDS212_Brief1/Saved/AutoScreenshot.png

GDS212_Brief1/Saved/Config/Windows/EditorPerProjectUserSettings.ini

GDS212_Brief1/Saved/Logs/GDS212_Brief1.log
